<main>
    <div class="bn-room" style="background-image: url(./img/ck.jpg);">
        <div class="bn-room-content">
            <span><a href="./index.html">Home></a>Checkout></span>
            <div class="name">Checkout</div>
        </div>
    </div>
    <div class="container c-ctn">
        <div class="row">
            <div class="col-6 bl-dt-ct">
                <div class="bl-dt">
                    Billing details
                </div>
                <label for="name">Name</label>
                <input type="text" id="name">
                <label for="country">Country / Region</label>
                <input type="text" name="" id="country">
                <label for="street">Street address</label>
                <input type="text" id="street">
                <label for="city">Town / City</label>
                <input type="text" id="city">
                <label for="email">Email</label>
                <input type="text" id="email">
            </div>
            <div class="col-6 bl-co-ct">
                <div class="row">
                    <div class="bl-dt">Your order</div>
                    <div class="row justify-content-between">
                        <div class="dt-l-co">PRODUCT</div>
                        <div class="dt-r-co">	SUBTOTAL</div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="dt-l-co">
                            <div>
                                Signature Suite  <strong>
                                    × 1
                                </strong>
                            </div>
                            <div>
                                <strong>
                                    Date:
                                </strong>2023-12-06 - 2023-12-07
                            </div>
                            <div>
                                <strong>
                                    Details:
                                </strong>
                                Rooms: 1, Adults: 1
                            </div>

                        </div>
                        <div class="dt-r-co">$399.00</div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="dt-l-co">Subtotal</div>
                        <div class="dt-r-co"> <strong>$399.00</strong></div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="dt-l-co">Total</div>
                        <div class="dt-r-co"><strong>$399.00</strong></div>
                        <button>
                            Place order
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
