<main>
    <div class="bn-room" style="background-image: url(./img/bg_3.jpg.webp);">
        <div class="bn-room-content">
            <span><a href="./index.html">Home></a>Rooms></span>
            <div class="name">Cozzy Rooms</div>
        </div>
        <div class="container bk-container" style="background-color: #222222; z-index: 10;">
            <form action="" class="booking-form">
                <div class="row booking-row">
                    <div class="col-lg-3 booking-d">
                        <span>check in</span><div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <input type="text" name="" id="" placeholder="date-check-in" pattern="\d{2}/\d{2}/\d{4}" onfocus="this.type='date'" onblur="this.type='text'">
                        </div>
                    </div>
                    <div class="col-lg-3 booking-d">
                        <span>check out</span><div>
                            <i class="fa-solid fa-calendar-days"></i>
                            <input type="text" name="" id="" placeholder="date-check-out    " pattern="\d{2}/\d{2}/\d{4}" onfocus="this.type='date'" onblur="this.type='text'">
                        </div>
                    </div>
                    <div class="col-lg-2 booking-d">
                        <span>Room</span>
                        <div>
                            <select name="" id="room-bk">
                                <option value="">Suite Room</option>
                                <option value="">Deluxe Room</option>
                                <option value="">Family Room</option>
                                <option value="">Classic Room</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 booking-d">
                        <span>Guest</span>
                        <select name="">
                            <option value="">1 Person</option>
                            <option value="">2 Person</option>
                            <option value="">3 Person</option>
                            <option value="">4 Person</option>
                            <option value="">5 Person</option>
                        </select>
                    </div>
                    <div class="col-lg-2 booking-d"><a href=""><span>Check</span><span>Availability</span></a></div>
                </div>
            </form>
        </div>
    </div>
    <div class="container ctn-room-list">
        <div class="row">
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-card-room hide-card">
                    <div class="card-bd-d">
                        <div class="content-card">
                            <div class="name-card">
                                Suite Room
                            </div>
                            <div class="des-card">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="st-card">
                                <p>
                                    <span>$450/Night</span>
                                    <a href="">BOOK NOW</a>
                                </p>
                            </div>
                        </div>
                        <a href="">
                            <div class="img-room" style="background-image: url(./img/a2.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
