@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style=" background-image: url('https://th.bing.com/th/id/OIG.SYKw4qdcBj._imv6UmdW?pid=ImgGn');background-repeat: no-repeat;background-size: cover; position:relative; display: flex; justify-content: center; align-items: center; justify-items: center; min-height: 170vh;            background-position: center;
">
    <div style="background-color: rgba(0,0,0,0.4) !important; position: absolute; width: 100%; height: 100%; top: 0; left: 0;">
    </div>
    <div>
        <div class="ctn-lg-rgt" style="margin-top: 100px;margin-bottom:100px;height:auto;">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active btn-change-lg" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                       aria-controls="pills-login" aria-selected="true">Reset Password</a>
                </li>
            </ul>
            <!-- Pills navs -->
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" style="width: 400px; " id="pills-login" role="tabpanel"
                     aria-labelledby="tab-login">
                    <form asp-controller="ForgotPassword" asp-action="ResetPass" method="post">
                        <div class="text-center mb-3 text-white">
                            <p>Plese enter reset password</p>
                            <button type="button" class="btn tvbt btn-link btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-facebook" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                                </svg>
                            </button>

                            <button type="button" class="btn tvbt btn-link btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-google" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                </svg>
                            </button>

                            <button type="button" class="btn tvbt btn-link btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-twitter" viewBox="0 0 16 16">
                                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15" />
                                </svg>
                            </button>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="registerPassword" name="Password" class="form-control ip-gr-lg" />
                            <label class="form-label text-white" for="registerPassword">Password</label>
                        </div>
                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="registerRepeatPassword" class="form-control ip-gr-lg" />
                            <label class="form-label  text-white" for="registerRepeatPassword">
                                Re-enter Password
                            </label>
                            <span id="passwordMismatchError" class="text-danger"></span>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var passwordInput = document.getElementById('registerPassword');
                                var repeatPasswordInput = document.getElementById('registerRepeatPassword');

                                passwordInput.addEventListener('input', () => {
                                    if (passwordInput.value.length < 8) {
                                        passwordInput.setCustomValidity('Password must have at least 8 characters ');
                                    } else {
                                        passwordInput.setCustomValidity('');
                                    }
                                })

                                repeatPasswordInput.addEventListener('input', function () {
                                    var errorMessage = document.getElementById('passwordMismatchError');

                                    if (passwordInput.value !== repeatPasswordInput.value) {
                                        errorMessage.innerHTML = 'Passwords do not match.';
                                        repeatPasswordInput.setCustomValidity('Passwords do not match.');
                                    } else {
                                        errorMessage.innerHTML = '';
                                        repeatPasswordInput.setCustomValidity('');
                                    }
                                });
                            });
                        </script>
                        <button type="submit" class="btn btn-primary btn-block mb-4 btn-lg-v">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

