@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutConditions.cshtml";
}

<section class="parallax" no-repeat;">
    <h2 id="text">Conditions</h2>
    <img src="~/img/tree-left.png" id="tree-left">
    <img src="~/img/tree-right.png" id="tree-right">
    <img src="~/img/gate-left.png" id="gate-left">
    <img src="~/img/gate-right.png" id="gate-right">
    <img src="~/img/grass.png" id="grass">
</section>
<section class="sec">
    <h2>Terms and Conditions</h2>
    <p>Ciao Hotels Website Terms and Conditions (&ldquo;Terms&rdquo;)</p>

    <p>Please carefully read the following terms and conditions since they govern all access to, and use of, Ciao Hotel website.</p>

    <p><strong>SITE USER AGREEMENT</strong></p>

    <p>Your use of any of&nbsp;<strong>Ciao Hotels</strong>&nbsp;websites (this &ldquo;Site&rdquo;) is governed by the following terms and conditions. Your use of this Site constitutes an agreement between you and Ciao Hotels, and its affiliates, subsidiaries and related companies (collectively, &ldquo;Ciao Hotels&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo;) and your acceptance of our Privacy and Security Statement (Click Here for Privacy and Security Statement).</p>

    <p>PLEASE REVIEW THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE. BY USING, VIEWING, OR OTHERWISE UTILIZING THIS SITE, THE SERVICES OR FUNCTIONS OFFERED IN OR BY THIS SITE AND/OR THE CONTENTS OF THIS SITE IN ANY WAY, YOU AGREE TO EACH AND ALL OF THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, PLEASE IMMEDIATELY DISCONTINUE USE OF AND LEAVE THIS SITE. IF YOU ARE NOT EIGHTEEN (18) YEARS OF AGE OR OLDER OR ARE OTHERWISE INCAPABLE OF ENTERING INTO A LEGALLY BINDING AGREEMENT, PLEASE IMMEDIATELY DISCONTINUE USE OF AND LEAVE THIS SITE.</p>

    <p>Ciao Hotels may, at any time, in its sole discretion, modify, add, or remove all or portions of these terms and conditions without prior notice and, unless otherwise indicated, such changes will be effective immediately; therefore, please check these terms periodically for changes. Your continued use of this Site following any changes to these terms and conditions shall be deemed acceptance of any such changes. Please print and retain a copy of these terms and conditions for your records.</p>

    <p><strong>PERSONAL AND NONCOMMERCIAL USE LIMITATION</strong></p>

    <p>The Site is for your personal, noncommercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, artwork, text, video, audio, pictures, content, trademarks, trade dress and other intellectual property, or any products or services found on, or obtained from, this Site.</p>

    <p><strong>USE OF THE WEB SITE</strong></p>

    <p>You agree that the Site is available only to individuals and entities that can form legally binding contracts under applicable law. Without limiting the foregoing, the Site and the services offered by the Site are not available to minors. If you do not qualify, you may not use the Site. You warrant that you are eighteen (18) years of age or older and have full legal capacity to reserve a room on this Site.</p>

    <p>You also agree that you are legally authorized to make the travel reservations and/or purchases for another person for whom you are authorized to act. You may only use this Site to make legitimate reservations or purchases and shall not use this Site for any other purposes, including without limitation, to make any speculative, false or fraudulent reservations, or any reservation in anticipation of demand.</p>

    <p>You also warrant that all information supplied by you or members of your household in using this Site is true and accurate. You understand that overuse or abuse of the reservation facilities of this Site may result in your being denied access to such facilities. For any reservations or other services for which fees may be charged, you agree to abide by the terms or conditions of purchase imposed, including, but not limited to, payment of all amounts when due and compliance with all rules and restrictions regarding availability of rates, products, or services. You shall be completely responsible for all charges, fees, duties, taxes, and assessments arising out of the use of this Site and you guarantee the accuracy of any information you provide in relation thereto, including any payment information.</p>

    <p>Some rates have special eligibility requirements such as Extended Perks, or membership. It is your responsibility to verify that you qualify for the rate that you have booked. Ciao Hotels is not obligated to honor rates if you do not qualify.</p>

    <p><strong>NO UNLAWFUL OR PROHIBITED USE</strong></p>

    <p>As a condition of your use of this Site, you warrant to Ciao Hotels that you will not use this Site for any purpose that is unlawful or otherwise prohibited by these terms, conditions, and notices.</p>

    <p><strong>COPYRIGHT AND TRADEMARK NOTICES</strong></p>

    <p>All materials contained in this Site are the copyrighted property of Ciao Hotels, its affiliates, subsidiaries, related companies and/or third-party licensors. No material from this Site or any Internet site owned, operated, licensed, or controlled by us or any of these parties may be copied, reproduced, republished, uploaded, posted, transmitted, scraped or distributed in any way without our prior express written consent. All trademarks, service marks, trade names, trade dress, and logos are proprietary. You may not use any of the trademarks, logos, or other proprietary information (including images, text, page layout, or form) without our prior express written consent. We value our trademarks and take infringement of them seriously.</p>

    <p><strong>COUPONS, PROMOTIONS, AND OFFERS</strong></p>

    <p>On occasion,&nbsp;<strong>Ciao Hotel</strong>&nbsp;provide online coupons and special promotions to users of this Site. Advertised prices are per standard room type based upon single occupancy. Rates do not include taxes or incidental charges. Minimum stay may be required. Unless otherwise specified, only one promotion discount per thirty days can be used by the same guest at the same hotel location. Rates are subject to availability and location and may be changed without notice. Additional restrictions and blackout dates may apply.</p>

    <p><strong>CODE OF CONDUCT</strong></p>

    <p>As a condition to your use of the Site, you agree to follow our Code of Conduct (&ldquo;Code&rdquo;), set out below. Under this Code, you will not:</p>

    <ul>
        <li>Upload, email or otherwise transmit any images or other content that is unlawful, obscene, harmful, hateful, invades the privacy of any third party, contains nudity or pornography, or is otherwise objectionable.</li>
        <li>Disseminate materials that impact or invade the privacy of others, such as photographs, video clips, sound recordings, personally identifiable information, or other materials that reveal personal, private or sensitive information about another person, without that person&rsquo;s consent.</li>
        <li>Submit material that is intentionally false, defamatory, unlawfully threatening, or unlawfully harassing.</li>
        <li>Infringe any third party&rsquo;s copyright, patent, trademark, trade secret, or other proprietary rights or rights of publicity or privacy. Electronic materials &ndash; such as music, videos, games, images, and text in electronic form &ndash; can easily be copied, modified, and sent over networks (such as the internet). These electronic materials are thus extremely vulnerable to unauthorized distribution and copyright infringement. These materials may not be transmitted over the Site without the copyright owner&rsquo;s permission or without a legitimate &ldquo;fair use&rdquo; justification for the transmittal.</li>
        <li>Transmit materials that contain any viruses, Trojan horses, worms, time bombs, cancelbots, or other computer-programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.</li>
        <li>Use the Site to artificially generate traffic or page links to a website or for any other purpose not expressly allowed under these Terms.</li>
        <li>Use the Site in a manner that could disable, overburden, or impair the Site or interfere with any other party&rsquo;s use and enjoyment of the Site, such as through sending &ldquo;spam.&rdquo;</li>
        <li>Use the Site to test or reverse engineer the Site to find limitations, vulnerabilities, or to evade filtering capabilities.</li>
        <li>Seek to obtain access to any materials or information through &ldquo;hacking&rdquo;, &ldquo;data harvesting&rdquo; or through other means we have not intentionally made available to you through the Site.</li>
        <li>Use the Site for any purpose that is unlawful or prohibited by these Terms. For example, you will not use the Site to violate any law, statute, or regulation (including, without limitation, those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising).</li>
    </ul>

    <p><strong>REGISTRATION/PASSWORDS</strong></p>

    <p>If, at any time, Ciao Hotels requires registration to access or use any areas or information at this Site, you agree to: (1) provide true, complete, accurate and current data, as requested in the registration process (the &ldquo;Registration Data&rdquo;); (2) maintain and update the Registration Data promptly as required herein; (3) prevent unauthorized access or use by you or others by using your user identification number and/or passwords; (4) promptly report any unauthorized use or disclosure of your password or other breaches of any Site security; and (5) not assign or transfer (or attempt to do the same) any rights granted to you under the Terms. Ciao Hotels reserves the right to suspend, and/or to refuse any further, access or use of any Site or information if Ciao Hotels learns or reasonably suspects that your Registration Data is false or inaccurate, if you refuse to provide complete and updated registration information, or you misuse or permit another to use your password who is not authorized to do so.</p>

    <p><strong>LINKS</strong></p>

    <p>This Site may contain hyperlinks to websites owned or operated by parties other than Ciao Hotels. Such hyperlinks are provided for your convenience only, and the inclusion of any such hyperlink does not imply endorsement by Ciao Hotels of the linked websites or any association by Ciao Hotels with the owners or operators of such websites. The linked websites are not under the control of Ciao Hotels, and Ciao Hotels is not responsible for the availability or privacy and/or security policies of such websites. Ciao Hotels does not endorse and is not responsible or liable for any content, products, services or other materials available on or through any linked website, including without limitation any hyperlink contained in a linked website. By using the Site to search for or link to another website, you agree and understand that such use is at your own risk.</p>

    <p><strong>LIMITATION ON LIABILITY</strong></p>

    <p>Ciao HOTELS SHALL NOT BE LIABLE FOR ANY LOST PROFITS, COST OF COVER, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, RELIANCE, CONSEQUENTIAL OR PUNITIVE DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THIS SITE OR THE SERVICES OR FUNCTIONS OF THIS SITE OR ARISING OUT OF YOUR ACCESS TO, OR INABILITY TO ACCESS, THIS SITE OR YOUR RELIANCE UPON THIS SITE OR THE SERVICES, CONTENT OR MATERIALS IN, OR FUNCTIONS OF, THIS SITE, PROVISION OF, OR FAILURE TO PROVIDE SERVICES, OR INFORMATION, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA, OR PROFITS, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY (INCLUDING NEGLIGENCE), TO THE FULLEST EXTENT PERMITTED BY LAW. Ciao HOTELS HAS NO DUTY TO UPDATE THIS SITE OR THE CONTENTS THEREOF AT ANY TIME OR FOR ANY REASON. IN NO EVENT SHALL OUR TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT OR OTHERWISE) EXCEED THE AMOUNT PAID BY YOU ONLY AT THE TIME OF OCCURRENCE OF EVENT CAUSED YOUR VALID CLAIM, IF ANY, FOR ACCESSING AND USING THIS SITE.</p>

    <p><strong>DISCLAIMERS</strong></p>

    <p>YOU AGREE THAT YOUR USE OF THIS SITE IS AT YOUR OWN RISK. THE CONTENT, MATERIALS, AND SERVICES IN THIS SITE ARE PROVIDED &ldquo;AS IS&rdquo; AND ON AN &ldquo;AS AVAILABLE&rdquo; BASIS WITHOUT ANY WARRANTY, REPRESENTATION, CONDITION, UNDERTAKING OR TERM OF ANY KIND, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE. TO THE MAXIMUM EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT OF INTELLECTUAL PROPERTY, OR FITNESS FOR A PARTICULAR PURPOSE.</p>

    <p>THIS SITE MAY CONTAIN ERRORS, INACCURACIES, OMISSIONS OR INCOMPLETE DATA (INCLUDING WITHOUT LIMITATION MISTAKEN HOTEL RATES OR AVAILABILITY). Ciao HOTELS RESERVES THE RIGHT TO REVOKE ANY STATED OFFER AND TO CORRECT ANY ERRORS, INACCURACIES OR OMISSIONS INCLUDING AFTER A RESERVATION ORDER HAS BEEN SUBMITTED AND WHETHER OR NOT THE ORDER HAS BEEN CONFIRMED AND YOUR CREDIT CARD CHARGED. IF YOUR CREDIT CARD HAS ALREADY BEEN CHARGED FOR THE RESERVATION AND YOUR RESERVATION IS CANCELLED, WE WILL ISSUE A CREDIT TO YOUR CREDIT CARD ACCOUNT IN THE AMOUNT OF THE CHARGE. Ciao HOTELS DOES NOT WARRANT, REPRESENT OR ENDORSE THE ACCURACY, RELIABILITY, USEFULNESS OR COMPLETENESS OF THE SERVICES, CONTENT, OR MATERIALS IN THIS SITE OR ANY SITE LINKED TO IT. FURTHER, WE DO NOT WARRANT THAT THIS SITE OR THE SERVICES, CONTENT, MATERIALS OR FUNCTIONS CONTAINED IN THIS SITE WILL BE CONTINUOUSLY AVAILABLE, UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE, SERVICES, CONTENT, MATERIALS OR THE SERVERS THAT MAKE THIS SITE OR SUCH SERVICES, CONTENT AND MATERIALS AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR ARE ACCURATE OR COMPLETE. WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SERVICES, CONTENT, MATERIALS, OR FUNCTIONS AVAILABLE THROUGH THIS SITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.</p>

    <p>WE RESERVE THE RIGHT TO CANCEL OR MODIFY RESERVATIONS WHERE IT APPEARS THAT A CUSTOMER HAS ENGAGED IN FRAUDULENT OR INAPPROPRIATE ACTIVITY OR UNDER OTHER CIRCUMSTANCES WHERE IT APPEARS THAT THE RESERVATIONS CONTAIN OR RESULTED FROM A MISTAKE OR ERROR.</p>

    <p>YOU AGREE THAT Ciao HOTELS IS NOT RESPONSIBLE OR LIABLE IN ANY WAY FOR ANY INJURY, LOSS OR DAMAGE TO YOUR COMPUTER OR INTERCEPTION OR USE OF CREDIT CARD INFORMATION RELATED TO OR RESULTING FROM USE OF THIS SITE.</p>

    <p><strong>INDEMNIFICATION</strong></p>

    <p>You hereby agree to indemnify, defend and hold&nbsp;<strong>Ciao Hotels</strong>, our parent companies and affiliates and their subsidiaries, and each of our and their owners, partners, members, affiliates, and each of such person&rsquo;s or entities&rsquo; officers, directors, agents, contractors, subcontractors, guests, residents, visitors, licensees, invitees, and employees (collectively, the &ldquo;Indemnified Parties&rdquo;) harmless from and against any and all allegations, demands, claims, liabilities, damages, fines, penalties or costs of whatsoever nature (including reasonable attorneys&rsquo; fees) loss of or damage to any property or otherwise (&ldquo;Claims&rdquo;) arising out of or in any way connected with the Terms (except as and to the extent prohibited by applicable law) or Claims arising from your account, including, without limitation, any Claims related to infringement by you of the intellectual property rights of any person, including without limitation, copyright, patent, trade secret, trademark, artist rights, privacy, publicity or rights under other intellectual property laws. If any Claim is made or any action or proceeding is brought against the Indemnified Parties, or any of them, arising out of or connected with the Terms, any such Indemnified Party may, by reasonable notice to you, require you, at your expense, to resist such Claim or take over the defense of any such action or proceeding and employ counsel for such purpose, such counsel to be subject to the prior written approval of such Indemnified Party, which approval shall be deemed to have been given hereby in the case of counsel acting for your insurance underwriters engaged in such resistance or defense. You shall cooperate with us in the defense of any Claim. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you.</p>

    <p><strong>GENERAL</strong></p>

    <p>These Terms shall be governed in all respects by Vietnam laws without giving effect to its conflicts of law provisions. Any dispute arising out of or in relation with the Terms shall be resolved by the competent court of Vietnam. If any provision of these Terms is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. Headings are for reference purposes only and in no way define, limit, construe, or describe the scope or extent of such section. Ciao Hotels&rsquo; failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. The Terms set forth the entire understanding and agreement between Ciao Hotels and you with respect to the subject matter hereof and supersede any prior or contemporaneous understanding, whether written or oral.</p>

</section>

<script>
    let text = document.getElementById('text');
    let treeleft = document.getElementById('tree-left');
    let treeright = document.getElementById('tree-right');
    let gateleft = document.getElementById('gate-left');
    let gateright = document.getElementById('gate-right');


    window.addEventListener('scroll', () => {
        let value = window.scrollY;

        if (value * 0.5 < 200) {
            text.style.marginTop = value * 2.5 + 'px';
            treeleft.style.left = value * -1.5 + 'px';
            treeright.style.left = value * 1.5 + 'px';
            gateleft.style.left = value * 0.5 + 'px';
            gateright.style.left = value * -0.5 + 'px';

        }


    })
</script>

