  <main>
    <div class="bn-room" style="background-image: url(./img/ab.jpg);">
      <div class="bn-room-content">
          <span><a href="./index.html">Home></a>Cart></span>
          <div class="name">Your cart</div>
      </div>
  </div>
    <div class="container c-ctn">
      <div class="row">
        <div class="col-lg-9">
          <div class="row c-n-dt">
            <div class="col-6 d-flex justify-content-center align-items-center">Product</div>
            <div class="col-2 d-flex justify-content-center align-items-center">PRICE</div>
            <div class="col-2 d-flex justify-content-center align-items-center">QUANTITY</div>
            <div class="col-2 d-flex justify-content-center align-items-center">SUBTOTAL</div>
          </div>
          <div class="row r-dt-bd">
            <div class="col-6">
              <div class="row r-c-dt justify-content-center align-items-center">
                <div class="col-1 cl-dt-c">
                  <div class="cl-x">
                    <svg width="100%"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24"/>
                      <path d="M7 17L16.8995 7.10051" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 7.00001L16.8995 16.8995" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
                </div>
                <div class="col-4 c-im-c">
                  <img src="./img/vst1.jpg" alt="">
                </div>
                <div class="col-7 dt-c-c">
                  <div class="row rn-c">
                    <div class="col-12">
                      SIGNATURE SUITE</div>
                    </div>
                  <div class="row" style="padding:0;">
                  <div class="col-2">
                    <strong>Date:</strong>
                  </div>
                  <div class="col-10">
                    2023-12-06 - 2023-12-07</div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <strong>Details:</strong>
                    </div>
                    <div class="col-9">
                      Rooms: 1, Adults: 1</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center nb">$399.00</div>
            <div class="col-2 d-flex justify-content-center align-items-center nb">1</div>
            <div class="col-2 d-flex justify-content-center align-items-center nb">$399.00</div>
          </div>
        </div>
        <div class="col-lg-3 c-c-tt">
          <div class="ctt-n">Cart totals</div>
          <div class="d-flex justify-content-between r-stt">
            <div class="s-tt-l">
              Subtotal</div>
            <div class="s-tt-r">
              $399.00
            </div>
          </div>
          <div class="d-flex justify-content-between r-tt">
            <div class="s-tt-l">
              Total</div>
            <div class="s-tt-r">
              $399.00
            </div>
          </div>
          <button>
            Proceed to checkout
          </button>
        </div>
      </div>
    </div>
    

  </main>